<br />
<div align="center" style="width:100%">
	<%= image_tag("company.jpg") %>
</div>

<h1>BMC Reflector MFG System</h1>

<b>Objective</b>
<p>Online reporting of process output (good and reject) parts to speed up and minimize paper reporting</p>

<br />

<b>Targets</b>
<ul>
	<li>Web-based systems with Touch screen input</li>
	<li>Executive summary – online</li>
	<li>To capture in production workstation – good part, reject parts with reason codes by workstation/work process with time-stamped and userid</li>
	<li>Identification of part by pictures of parts</li>
	<li>Machine downtime tracking with mean time between failures</li>
	<li>Users to be categorized by roles and authenticated for assigned work process</li>
	<li>Optional – to print out production travellers based on good quantity output (no / bin)</li>
</ul>

