<% content_for :head do %>
<style type="text/css">
	.button {font-family:verdana, tahoma, sans-serif;font-size: 1em;width:80%;height:80px;line-height:20px;}
    .back_button {font-family:verdana, tahoma, sans-serif;font-size: 0.8em;width:150px;height:50px;line-height:10px;}
</style>
<% end %>

<% form_tag :action => "clearing_bin" do %>
<table align="center">
	<tr>
		<td align="center"><h1>Clear Bin</h1></td>
	</tr>
	<tr>
		<td align="center">
	        <%= text_field_tag "bin_number", nil, :class => "bin_text" %>		
		</td>
	</tr>
	<tr>
		<td align="center">
			<%= submit_tag "submit", :class => "submit_button" %>
		</td>
	</tr>
	
</table>

<% end %>