<% content_for :head do %>
<style type="text/css">
	.button {font-family:verdana, tahoma, sans-serif;font-size: 1em;width:100px;height:50px;line-height:20px;}
    .back_button {font-family:verdana, tahoma, sans-serif;font-size: 0.8em;width:150px;height:50px;line-height:10px;}
</style>
<% end %>

<% if @bins.nil? or @bins.size.zero? %>
 
	<table width="100%">
	<tr>
		<td align="center">
			<h2 style="color:red">There is no bin to Clear for the moment </h2>
		</td>
	
		<td align="left">
			 <%= button_to "Select Bin Type", list_bin_types_bins_path, :class => 'back_button' %>
		</td>
		
	</tr>
</table>

<% else %>

<table width="100%">
	<tr>
		<td align="center">
			<h2 style="color:Blue">Select a bin to Clear </h2>
		</td>
	
		<td align="left">
			 <%= button_to "Select Bin Type", list_bin_types_bins_path, :class => 'back_button' %>
		</td>
		
	</tr>
</table>

<div>
	
	<table width="100%">
			<% @bins.in_groups_of(5, false) do |bins| %>
		   <tr>
				<% for bin in bins %>
			    <td align="center">
			    	<%= button_to bin.bin_number, {:action => 'clearing_bin', :bin_number => bin.bin_number.to_s}, :class => 'button' %>
			    </td>
			    <% end %>
		  </tr>
		<% end %>
		
	</table>
	
	<br />

</div>


<% end %>
