<% content_for :head do %>
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
<% end %>
	
	
	<h1 align="center">The Chart</h1>
	
  <div align="center">
   <%= @graph %>	
  </div>
