<html>
<head>
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BMC System</title>

<!--


-->


<%= render "/layouts/detect_mac_address_js" %>


</head>

<body onload="submit_mac()">

   <h3 align="center">
   	Please wait for system to detect your MAC Address
   </h3>


</body>

</html>
