
<p>
  <b>Name:</b>
  <%=h @swap_group.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @swap_group.description %>
</p>


<%= link_to 'Edit', edit_swap_group_path(@swap_group) %> |
<%= link_to 'Back', swap_groups_path %>