<div id="bluemenu" class="bluetabs">
<ul>
<li><a href="/main">Home</a></li>
<li><a href="#" rel="dropmenu1_b">Base Setup</a></li>
<li><a href="#" rel="dropmenu2_b">User</a></li>
<li><a href="#" rel="dropmenu3_b">Bin</a></li>
<li><a href="#" rel="dropmenu4_b">Warehouse</a></li>
<li><a href="/logout">Logout</a></li>
</ul>
</div>



<!--1st drop down menu -->                                                   
<div id="dropmenu1_b" class="dropmenudiv_b">
  <a href="/machines">Machines</a>
</div>


<!--2nd drop down menu -->                                                
<div id="dropmenu2_b" class="dropmenudiv_b" style="width: 150px;">
  <a href="/login_records">Logged in Accounts</a>
</div>


<!--3nd drop down menu -->                                                
<div id="dropmenu3_b" class="dropmenudiv_b" style="width: 150px;">
  <a href="/cold_stores/new">On Hold Bin</a>
  <a href="/box_labels">Print Label</a>
</div>


<!--7nd drop down menu -->
<div id="dropmenu4_b" class="dropmenudiv_b" style="width: 150px;">
<a href="/warehouses">Warehouse</a>
<a href="/warehouses/assign">Assignment</a>
</div>
