<div id="bluemenu" class="bluetabs">
<ul>
<li><a href="/main">Home</a></li>
<li><a href="#" rel="dropmenu1_b">Base Setup</a></li>
<li><a href="/logout">Logout</a></li>
</ul>
</div>



<!--1st drop down menu -->                                                   
<div id="dropmenu1_b" class="dropmenudiv_b">
<a href="/material_inputs">Material Inputs</a>
</div>



