<div id="bluemenu" class="bluetabs">
<ul>
<li><a href="/main">Home</a></li>
<li><a href="#" rel="dropmenu4_b">Report</a></li>
<li><a href="/logout">Logout</a></li>
</ul>
</div>


<!--3nd drop down menu -->                                                
<div id="dropmenu4_b" class="dropmenudiv_b" style="width: 150px;">
<a href="/machine_downtimes">Machine Downtime</a>
<a href="/procedure_transactions">Transaction</a>
<a href="/bin_clearing_records">Bin CLearing Records</a>
</div>
