<div id="bluemenu" class="bluetabs">
<ul>
  <li><a href="/main">Home</a></li>
  <li><a href="/production_report">Report</a></li>
  <li><a href="/cold_stores">On Hold Bin</a></li>
  <li><a href="/machines">Machines</a></li>
  <li><a href="/login_records">Freezed Accounts</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
</div>


